<ion-content [fullscreen]="true">
    <div class="reset__content">
        <div class="reset__back">
            <ion-button fill="clear" color="dark" routerLink="/login">
                <ion-icon slot="icon-only" name="chevron-back-circle" color="dark"></ion-icon>
            </ion-button>
        </div>

        <!-- Logo Upper -->
        <img src="../../../assets/icon/login_logo.svg"/>

        <!-- Title -->
        <div class="reset__title">
            <h1>{{ 'Forgot.Title' | translate }}</h1>
            <p>{{ 'Forgot.Subtitle' | translate }}</p>
        </div>

        <!-- Form -->
        <form [formGroup]="resetForm">
            <ion-item mode="ios">
                <ion-input inputmode="text" label="{{ 'Forgot.Username' | translate }}" formControlName="username" label-placement="stacked" type="text" required spellcheck="false" placeholder="{{ 'Forgot.UsernamePlaceholder' | translate }}" fill="solid"></ion-input>
                <ion-icon name="person" slot="end"></ion-icon>
            </ion-item>
        </form>

        <!-- Bottom Actions -->
        <div class="reset__bottom">
            <ion-button expand="full" shape="round" (click)="resetPassword()" [disabled]="!resetForm.valid || isResetting">
                <ng-container *ngIf="isResetting; else show_button">
                    <ion-spinner name="lines"></ion-spinner>
                </ng-container>
                <ng-template #show_button>
                    {{ 'Forgot.Sent' | translate }}
                </ng-template>
            </ion-button>
        </div>

    </div>
</ion-content>
