<ion-header class="ion-no-border" mode="md">
    <ion-toolbar class="topToolbar" color="primary" mode="md">
        <ion-buttons slot="start">
            <ion-back-button [text]="''" color="light" icon="chevron-back" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{ 'Home.Options.BagsSeal' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="seal__content">

        @if(currentUser) {
            <div class="seal__items">
                <div class="seal__item">
                    <ion-icon src="../../../assets/icon/plastic-bottle.svg" slot="start"></ion-icon>
                    <div>
                        <h1>{{ 'Home.Plastic' | translate }}</h1>
                        <p [ngClass]="{'seal-orange': currentUser.PlasticCount === currentUser.PlasticThreshold, 'seal-red': currentUser.PlasticCount > currentUser.PlasticThreshold }">
                            {{ currentUser.PlasticCount }} / {{ currentUser.PlasticThreshold }}
                        </p>
                    </div>
                </div>
                <div class="seal__item">
                    <ion-icon src="../../../assets/icon/can.svg" slot="start"></ion-icon>
                    <div>
                        <h1>{{ 'Home.Aluminium' | translate }}</h1>
                        <p [ngClass]="{'seal-orange': currentUser.AluminiumCount === currentUser.AluminiumThreshold, 'seal-red': currentUser.AluminiumCount > currentUser.AluminiumThreshold }">
                            {{ currentUser.AluminiumCount }} / {{ currentUser.AluminiumThreshold }}
                        </p>
                    </div>
                </div>
                <div class="seal__item">
                    <ion-icon src="../../../assets/icon/glass.svg" slot="start"></ion-icon>
                    <div>
                        <h1>{{ 'Home.Glass' | translate }}</h1>
                        <p [ngClass]="{'seal-orange': currentUser.GlassCount === currentUser.GlassThreshold, 'seal-red': currentUser.GlassCount > currentUser.GlassThreshold }">
                            {{ currentUser.GlassCount }} / {{ currentUser.GlassThreshold }}
                        </p>
                    </div>
                </div>
            </div>
        }


        <div class="seal__category">
            <h1>{{ 'BagsSeal.ChooseCategory' | translate }}</h1>
            <ion-radio-group [(ngModel)]="selectedCategory" (ngModelChange)="resetForm()">
                <ion-radio value="1">{{ 'Home.Plastic' | translate }}</ion-radio>
                <ion-radio value="2">{{ 'Home.Aluminium' | translate }}</ion-radio>
                <ion-radio value="3">{{ 'Home.Glass' | translate }}</ion-radio>
            </ion-radio-group>
        </div>

        <ng-container *ngIf="selectedCategory">
            <ion-item>
                <ng-container *ngIf="selectedCategory === '1'; else aluminium">
                    <ion-input inputmode="number" label="{{ 'BagsSeal.Quantity' | translate }}" label-placement="stacked" type="number" required spellcheck="false" placeholder="{{ 'BagsSeal.QuantityPlaceholder' | translate }}" [(ngModel)]="plasticQuantity"></ion-input>
                </ng-container>
                <ng-template #aluminium>
                    <ng-container *ngIf="selectedCategory === '2'; else glass">
                        <ion-input inputmode="number" label="{{ 'BagsSeal.Quantity' | translate }}" label-placement="stacked" type="number" required spellcheck="false" placeholder="{{ 'BagsSeal.QuantityPlaceholder' | translate }}" [(ngModel)]="aluminiumQuantity"></ion-input>
                    </ng-container>
                </ng-template>
                <ng-template #glass>
                    <ion-input inputmode="number" label="{{ 'BagsSeal.Quantity' | translate }}" label-placement="stacked" type="number" required spellcheck="false" placeholder="{{ 'BagsSeal.QuantityPlaceholder' | translate }}" [(ngModel)]="glassQuantity"></ion-input>
                </ng-template>
                <ion-icon name="bag-outline" slot="end"></ion-icon>
            </ion-item>

            <ion-item>
                <ion-input inputmode="text" label="{{ 'BagsSeal.Code' | translate }}" label-placement="stacked" type="text" required spellcheck="false" placeholder="{{ 'BagsSeal.CodePlaceholder' | translate }}" [(ngModel)]="sealCode" [readonly]="true"></ion-input>
                <ion-icon name="barcode" slot="end"></ion-icon>
            </ion-item>

            @if(!sealCode) {
                <ion-button fill="solid" color="primary" (click)="tryScanBarCode()" [disabled]="!hasValidQuantity() || loadingSeal">
                    {{ 'BagsSeal.ScanCode' | translate }}
                </ion-button>
            } @else if(sealCode) {
                <ion-button fill="solid" color="primary" (click)="tryScanBarCode()" [disabled]="!hasValidQuantity() || loadingSeal">
                    {{ 'BagsSeal.RescanCode' | translate }}
                </ion-button>
            }

            <ion-button fill="solid" color="primary" [disabled]="!hasValidQuantity() || loadingSeal || !sealCode" (click)="sealBag()">
                <ng-container *ngIf="loadingSeal; else seal_bag">
                    <ion-spinner name="lines"></ion-spinner>
                </ng-container>
                <ng-template #seal_bag>
                    {{ 'BagsSeal.Seal' | translate }}
                </ng-template>
            </ion-button>
        </ng-container>


    </div>
</ion-content>
