<ion-header class="ion-no-border" mode="md">
    <ion-toolbar class="topToolbar" color="primary" mode="md">
        <ion-buttons slot="start">
            <ion-back-button [text]="''" color="light" icon="chevron-back" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{ 'Home.Options.VoucherHistory' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ng-container *ngIf="vouchers === null; else show_history">
        <div class="loading__page">
            <ion-spinner name="lines"></ion-spinner>
        </div>
    </ng-container>
    <ng-template #show_history>
        <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <div class="history__content">
            <div class="history__list" *ngIf="vouchers !== null && vouchers.length > 0; else no_vouchers">
                <ion-list>
                    <ion-item-sliding *ngFor="let voucher of vouchers">
                        <ion-item [button]="true" lines="full" [routerLink]="[voucher.Code]">
                            <ion-icon name="receipt"
                                slot="start"></ion-icon>
                            <ion-label>
                                <h3>{{ voucher.Code }}</h3>
                                <p>{{ voucher.GeneratedDate.substring(0, 10) }} {{ voucher.GeneratedTime.substring(0, 8) }}</p>
                            </ion-label>
                            <div class="history__end" slot="end">
                                <ion-badge [color]="getVoucherStateColor(voucher.State)">
                                    {{ getVoucherStateText(voucher.State) | translate }}
                                </ion-badge>
                                <p>LEI {{ voucher.Value.toFixed(2) }} </p>
                            </div>
                        </ion-item>
                        <ion-item-options slot="end">
                            <ion-item-option color="tertiary" [expandable]="voucher.State === 1 || voucher.State === 2" (click)="reprint(voucher)" [disabled]="voucher.State !== 1 && voucher.State !== 2">
                                <ng-container *ngIf="isReprinting; else show_print">
                                    <ion-spinner name="lines"></ion-spinner>
                                </ng-container>
                                <ng-template #show_print>
                                    <ion-icon slot="icon-only" name="print"></ion-icon>
                                </ng-template>
                            </ion-item-option>
                        </ion-item-options>
                    </ion-item-sliding>

                </ion-list>
            </div>

            <ng-template #no_vouchers>
                <div class="no__entries">
                    <ion-icon name="sad-outline"></ion-icon>
                    <h1>{{ 'VoucherHistory.NoEntries' | translate }}</h1>
                </div>
            </ng-template>


            <ion-button class="scan__add" fill="solid" color="primary" (click)="tryScanBarCode()" [disabled]="!isSupported">
                {{ 'VoucherHistory.Scan' | translate }}
                <ion-icon slot="end" name="scan-circle"></ion-icon>
            </ion-button>
        </div>
    </ng-template>

</ion-content>
