<ion-content [fullscreen]="true">
    <div class="login__content">
        <!-- Logo Upper -->
        <img src="../../../assets/icon/login_logo.svg"/>

        <!-- Title -->
        <div class="login__title">
            <h1>{{ 'Login.Title' | translate }}</h1>
            <p>{{ 'Login.Subtitle' | translate }}</p>
        </div>

        <!-- Form -->
        <form [formGroup]="loginForm">
            <ion-item mode="ios">
                <ion-input inputmode="text" label="{{ 'Login.Username' | translate }}" formControlName="username" label-placement="stacked" type="text" required spellcheck="false" placeholder="{{ 'Login.UsernamePlaceholder' | translate }}" fill="solid"></ion-input>
                <ion-icon name="person" slot="end"></ion-icon>
            </ion-item>
            <ion-item mode="ios">
                <ion-input label="{{ 'Login.Password' | translate }}" label-placement="stacked" type="password" formControlName="password" required spellcheck="false" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" fill="solid"></ion-input>
                <ion-icon name="key" slot="end"></ion-icon>
            </ion-item>
        </form>

        <!-- Bottom Actions -->
        <div class="login__bottom">
            <ion-button expand="full" shape="round" (click)="login()" [disabled]="!loginForm.valid || isLogging">
                <ng-container *ngIf="isLogging; else show_button">
                    <ion-spinner name="lines"></ion-spinner>
                </ng-container>
                <ng-template #show_button>
                    {{ 'Login.Authenticate' | translate }}
                </ng-template>
            </ion-button>
            <p routerLink="/reset-password">
                {{ 'Login.Forgot' | translate }}
            </p>
        </div>

    </div>
</ion-content>
