<ng-container *ngIf="currentUser; else show_loading">
    <ion-header class="ion-no-border" mode="md">
        <ion-toolbar class="topToolbar" color="primary" mode="md">
            <ion-title>
                {{ currentUser.OfficeName }} <b *ngIf="currentUser.OfficeCode">({{ currentUser.OfficeCode }})</b>
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true">
        <div class="home__content">
            <div class="home__top">
                <div class="home__info">
                    <div>
                        <h1>{{ getFormattedEmployeeName(currentUser.EmployeeName) }}</h1>
                        <p>{{ currentUser.EmployeeCode }}</p>
                    </div>
                    <ion-button fill="clear" (click)="logout()">
                        <ion-icon slot="icon-only" name="log-out" color="light"></ion-icon>
                    </ion-button>
                </div>
                <div class="scan__top__items">
                    <div class="scan__top__item">
                        <ion-icon src="../../../assets/icon/plastic-bottle.svg" slot="start"></ion-icon>
                        <div>
                            <h1>{{ 'Home.Plastic' | translate }}</h1>
                            <p [ngClass]="{'seal-orange': currentUser.PlasticCount === currentUser.PlasticThreshold, 'seal-red': currentUser.PlasticCount > currentUser.PlasticThreshold }">
                                {{ currentUser.PlasticCount }} / {{ currentUser.PlasticThreshold }}
                            </p>
                        </div>
                    </div>
                    <div class="scan__top__item">
                        <ion-icon src="../../../assets/icon/can.svg" slot="start"></ion-icon>
                        <div>
                            <h1>{{ 'Home.Aluminium' | translate }}</h1>
                            <p [ngClass]="{'seal-orange': currentUser.AluminiumCount === currentUser.AluminiumThreshold, 'seal-red': currentUser.AluminiumCount > currentUser.AluminiumThreshold }">
                                {{ currentUser.AluminiumCount }} / {{ currentUser.AluminiumThreshold }}
                            </p>
                        </div>
                    </div>
                    <div class="scan__top__item">
                        <ion-icon src="../../../assets/icon/glass.svg" slot="start"></ion-icon>
                        <div>
                            <h1>{{ 'Home.Glass' | translate }}</h1>
                            <p [ngClass]="{'seal-orange': currentUser.GlassCount === currentUser.GlassThreshold, 'seal-red': currentUser.GlassCount > currentUser.GlassThreshold }">
                                {{ currentUser.GlassCount }} / {{ currentUser.GlassThreshold }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="home__actions">
                    <ion-button *ngFor="let availableOption of availableOptions" fill="solid" [color]="availableOption.icon === 'pricetag' && !canScan() ? 'primary' : 'dark'" (click)="goToRoute(availableOption.router)">
                        {{ availableOption.name | translate }}
                        <ion-icon slot="end" [name]="availableOption.icon"></ion-icon>
                    </ion-button>
                </div>
            </div>

            <ion-button class="primary" fill="solid" color="primary" routerLink="/scan" [disabled]="!canScan()">
                {{ 'Home.NewVoucher' | translate }}
                <ion-icon slot="end" name="scan-circle"></ion-icon>
            </ion-button>
        </div>
    </ion-content>
</ng-container>

<ng-template #show_loading>
    <ion-content [fullscreen]="true">
        <div class="home__loading">
            <ion-spinner name="lines"></ion-spinner>
        </div>
    </ion-content>
</ng-template>

